bin/
obj/

.vs/
.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

secrets.json

*.db
*.db-shm
*.db-wal

wwwroot/lib/

node_modules/

publish/